/*STANDART STYLES*/
html, body {
    width:100%;
    height:100%;
    margin:0;
    padding:0;
    font-family:tahoma;
    font-size:12px;
    color:#000;
}

a{
    color:#000;
}

a:hover{
    text-decoration:none;
}

img{
    border: none;
}

input{
    font-family:tahoma;
    font-size:12px;
    padding: 0 10px;
}

textarea{
    font-family:tahoma;
    font-size:12px;
    padding: 5px 10px;
    height: 70px;
    overflow: auto;
}

select{
    cursor: pointer;
}

label{
    cursor: pointer;
}

#overflow_div {
    position: relative;
    width: 100%;
    min-width: 1000px;
    min-height: 100%;
    overflow: hidden;
}

.content-wraper {
    position: relative;

    background: #8ab375;
}

.content {
    position: relative;
    margin: 0 auto;
    width: 1000px;

    background: linear-gradient(to top, #d1feaf, #9cf18a);
    background-color: #d1feaf;
}

.content-hidden{
    width: 1000px;
    overflow: hidden;
}

.viewport{
    position: relative;
    overflow: hidden;
}

.overflower {
    width: 105%;
}

.overflower.rightfloating {
    margin-left: -5%;
}

.floatblock {
    float: right;
    padding: 20px 0 40px 0;
}

.floatblock.left {
    width: 250px;
}

.floatblock.center-min {
    width: 500px;
}

.floatblock.center-middle {
    width: 750px;
}

.floatblock.center-full {
    width: 1000px;
}

.floatblock.right {
    width: 250px;
    display: none;
}

.floatblock.padding-right{
    width: 250px;
    margin: 0;
    padding: 0;
    height: 1px;
}

.left .block {
    margin: 0 20px 40px 10px;
}

.right .block {
    margin: 0 10px 40px 20px;
}

.center-min .block, .center-middle .block, .center-full .block {
    margin-bottom: 30px;
}

.block h2{
    margin: 0 0 15px 0;
}

.clear{
    clear: both;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

h1, .h1{
    font-size: 2em;
    margin: 0.67em;
    font-weight: bold;
}

h2, .h2{
    font-size: 1.5em;
    margin: 0.83em;
    font-weight: bold;
}

h3, .h3{
    font-size: 1.17em;
    margin: 1em;
    font-weight: bold;
}

h4,.h4{
    margin: 1.33em;
    font-weight: bold;
}

.left h2, .left .h2 {
    margin: 0 0 15px 0;
}

.right h2, .right .h2 {
    margin: 0 0 15px 0;
}

.button{
    display: inline-block;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
    text-decoration: none;
    color: #fff;
    background: #848484;
    border-radius: 4px;
    font-size: 12px;
    text-align: center;
}

.button:hover{
    background: #606060;
}

.button:active{
    background: #848484;
}

.placeholder {
    color: #333;
}

::-webkit-input-placeholder { /* WebKit browsers */
    color: #333;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: #333;
    opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #333;
    opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    color: #333;
}

input.success, textarea.success{
    background: url('../img/informer-success.png') top right no-repeat #fff;
    border-color:#00cc00;
}

input.warning, textarea.warning{
    background: url('../img/informer-warning.png') top right no-repeat #fff;
    border-color: #cc0000;
}

input.error, textarea.error{
    background: url('../img/informer-error.png') top right no-repeat #fff;
    border-color: #cc0000;
}

.informer {
    position: relative;
    padding: 5px 10px;
    border-radius: 5px;
    border: none;
    background: #FFF7BD;
}

.informer .bg {
    position: absolute;
    right: 49%;
    top: -9px;
    width: 11px;
    height: 9px;
    background: url('../img/informer-bg.png') left top no-repeat;
}
/*/STANDART STYLES*/



/*---------HEADER------------*/
header{
    height: 70px;
    background: #a1d2e8;
}

.content-wraper.header{
    background: #658397;
}

header .logo{
    float: left;
}

header .contacts {
    float: right;
}
/*---------/HEADER------------*/


/*---------MENU-TOP------------*/
/*---------/core menu top------------*/
.menu-top{

}

.menu-top ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

/* Обнуляем шрифт и line-height у родителя*/
.menu-top > ul{
    text-align: justify;
    line-height: 0;
    font-size: 1px;
    background: #F5F5F5;
}

/* доп элемент для выравнивания по ширине */
.menu-top li.helper {
    width: 100%;
    height: 0;
    visibility: hidden;
    overflow: hidden;
}

.menu-top > ul > li{
    display: inline-block;
    position: relative;
    z-index: 5;

    /* Востанавливаем у потомков, кроме последнего*/
    line-height: normal;
    font-size: 14px;

    /* Без него в Opera будет отступ под элементами */
    vertical-align: top;
}

.menu-top ul li ul{
    display:none;
    position:absolute;
    width:120px;
    left: 0;
}
.menu-top ul li:hover ul{display:block}
/*---------/core menu top------------*/

/*---------main menu-top------------*/
.menu-top > ul > li{
    background-color:#F5F5F5;
    text-align:center;
}

.menu-top > ul > li:hover{background-color: #c9c9c9;}
.menu-top > ul > li.selected{background-color:#c9c9c9;}

.menu-top > ul > li > a{
    display: block;
    padding:10px 10px;
    border:1px solid #c9c9c9;
    text-decoration:none;
}
/*---------/main menu-top------------*/

/*---------sub menu-top------------*/
.menu-top ul li ul{
    background-color:#ffffff;
    border:1px solid #E8E8E8;
}

.menu-top ul li ul li{
    text-align:left;
    padding:5px 5px 5px 15px;
}

.menu-top ul li ul li a{
    text-decoration:none;
}

.menu-top ul li ul li a:hover{
    color:#553CCF;
}
/*---------/sub menu-top------------*/
/*---------/MENU-TOP------------*/


/*---------PATH------------*/
.path{
    padding: 4px 0 16px 0;
}

.path a {
    color: #255f99;
}

.path .separator {
    color: #666666;
}

.path a.selected {
    color: #666666;
    text-decoration: none;
    cursor: default;
}
/*---------/PATH------------*/


/*---------/INDEX SLIDER------------*/
.index_slider {
    position: relative;
    width: 400px;
    background: #b9b9b9;
}

.index_slider .viewport {
    width: 360px;
    height: 360px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
}

.index_slider .viewport .overflower {
    width: 1000%;
    height: 360px;
    position: absolute;
    left: 0;
    top: 0;
}

.index_slider .viewport .overflower .item {
    margin: 0 auto;
    width: 360px;
    height: 360px;
    float: left;
    background: #fff;
    margin-right: 0;/*не работает без марджина*/
    margin-left: 0; /*не работает без марджина*/
}

.index_slider .viewport .item .img-container{
    margin: 0 auto;
    width: 360px;
    height: 360px;
    line-height: 360px;
    text-align: center;
}

.index_slider .viewport .item .img-container img {
    max-width: 360px;
    max-height: 360px;
    vertical-align: middle;
}

.index_slider .buttons {
    width: auto;
    text-align: center;
}

.index_slider .buttons .item {
    display: inline-block;
    width: 20px;
    height: 20px;
    overflow: hidden;
    background: #6d6d6d;
    cursor: pointer;
    margin-right: 5px;
}

.index_slider .buttons .item:hover{
    background: #66e3f1;
}

.index_slider .buttons .item.selected {
    background: #66e3f1;
}

.index_slider .to_left, .index_slider .to_right{
    width: 20px;
    height: 20px;
    background: #6d6d6d;
    cursor: pointer;
    position: absolute;
    top: 50%;
    margin-top: -10px;
}

.index_slider .to_left{
    left: 0;
}

.index_slider .to_right{
    right: 0;
}

.index_slider .to_left:hover, .index_slider .to_right:hover{
    background: #66e3f1;
}
/*---------/INDEX SLIDER------------*/


/*---------/CATALOG-MENU------------*/
.catalog-menu {
    list-style:none;
    margin:0;
    padding:0;
}

.catalog-menu li{
    display:block;
    margin-bottom:2px;
}

.catalog-menu li:hover a:hover{
    background: #B9B9B9;
}

.catalog-menu li.selected.active-link > a{
    background: #B9B9B9;
}

.catalog-menu li a{
    display:block;
    border-radius:4px;
    background:#f1f1f1;
    padding:7px 10px;
}

.catalog-menu li ul{
    margin:5px 0 5px 0;
    padding:0;
}

.catalog-menu li.selected ul{

}

.catalog-menu li ul li{

}

.catalog-menu li ul li a{
    background:#f6f6f6;
    padding:7px 7px 7px 40px;
}
/*---------/CATALOG-MENU------------*/


/*---------NEWS (BLOCK)------------*/
.news .item{
    margin:10px 0;
    border-bottom:1px solid #000000;
}

.news .item .date{
    display:block;
    font-weight: bold;
}

.news .item .img-container{
    float:left;
    width: 100px;
    height: 100px;
    line-height: 100px;
    text-align: center;
    margin: 5px 10px 5px 0;
    background: #fff;
}

.news .item .img-container img {
    max-width: 100px;
    max-height: 100px;
    vertical-align: middle;
}

.news .item .title{
    display: block;
}
/*---------/NEWS (BLOCK)------------*/


/*---------NEWS (PAGE)------------*/
.news.one .item{
    margin:0 0 10px 0;
    border: none;
}

.news.one .item .title{
    margin: 0;
}

.news.one .item .date{
    display:block;
    font-weight: bold;
}

.news.one .item .img-container{
    float:left;
    width: 250px;
    height: 250px;
    line-height: 250px;
    text-align: center;
    margin: 5px 10px 5px 0;
    background: #fff;
}

.news.one .item .img-container img {
    max-width: 250px;
    max-height: 250px;
    vertical-align: middle;
}
/*---------/NEWS (PAGE)------------*/


/*---------CATALOG------------*/
.catalog .catalog-bg {
    background: #dedede;
    padding: 1px 0;
    /*padding для того чтобы скрыть выступающий снизу бэграунд марджином*/
}

.catalog .catalog-container{
    text-align: justify;
    /*либо  text-align: center;*/
    /*скрываем марджинами бэграунд сверху (от паддинга в 1px) и снизу (от псевдоэлемента)*/
    margin-bottom: -43px;
    margin-top: -1px;
    padding: 10px 0;
}

.catalog .catalog-container:after {
    content: ' i i i i i i i i ';
    word-spacing: 158px;
    padding-left: 158px;
    /*паддинг и word-spacing равны на несколько пикс меньще, чем ширина блока (или вообще равны)*/
    visibility: hidden;
}

.catalog .item {
    display : inline-block;
    width : 160px;
    background: #bababa;
    vertical-align: top;
    margin: 0 0 15px 0;
    padding: 5px 0;
    text-align: center;

    /*эмуляция inline-block для IE6-7*/
    /*display : inline;*/
    /*zoom : 1;*/
}

.catalog .item .img-container{
    display: block;
    width: 150px;
    height: 150px;
    line-height: 150px;
    text-align: center;
    margin: 0 auto 3px auto;
    background: grey;
}

.catalog .item .img-container img {
    max-width: 150px;
    max-height: 150px;
    vertical-align: middle;
}

.catalog .item .price{
    display: inline-block;
    padding: 2px 10px;
    color: #fff;
    background: #a1a1a1;
}

.catalog .item .name{
    display: block;
    margin: 5px 0 0 0 ;
}
/*---------/CATALOG------------*/


/*---------CATALOG ONE ITEM------------*/
.catalog.one-item h2{
    margin: 0 0 15px 0;
}

.catalog.one-item .catalog-container{
    text-align: center;
    padding: 10px;
    background: #dedede;
}

.catalog.one-item .item{
    display: inline-block;
    vertical-align: top;
    width: 160px;
    background: #fff;
    margin: 0 0 15px 0;
    padding: 5px 0;
    text-align: center;
}

.catalog.one-item .img-container{
    display: block;
    width: 150px;
    height: 150px;
    line-height: 150px;
    text-align: center;
    margin: 0 auto 3px auto;
    background: grey;
}

.catalog.one-item .img-container img {
    max-width: 150px;
    max-height: 150px;
    vertical-align: middle;
}

.catalog.one-item .item .price{
    display: inline-block;
    padding: 2px 10px;
    color: #fff;
    background: #a1a1a1;
}

.catalog.one-item .item .name{
    display: block;
    margin: 5px 0 0 0 ;
}
/*---------/CATALOG ONE ITEM------------*/


/*---------TOVAR PAGE------------*/
.tovar{

}

.tovar .info{
    float: left;
    width: 350px;
}

.tovar .info .price{
    padding: 2px 10px;
    color: #fff;
    background: #a1a1a1;
}
/*---------/TOVAR PAGE------------*/


/*---------/TOVAR SLIDER------------*/
.tovar_slider {
    float: left;
    position: relative;
    width: 400px;
    background: #b9b9b9;
}

.tovar_slider .viewport {
    width: 360px;
    height: 360px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
}

.tovar_slider .viewport .overflower {
    width: 1000%;
    height: 360px;
    position: absolute;
    left: 0;
    top: 0;
}

.tovar_slider .viewport .overflower .item {
    margin: 0 auto;
    width: 360px;
    height: 360px;
    float: left;
    background: #fff;
    margin-right: 0;/*не работает без марджина*/
    margin-left: 0; /*не работает без марджина*/
}

.tovar_slider .viewport .item .img-container{
    display: block;
    margin: 0 auto;
    width: 360px;
    height: 360px;
    line-height: 360px;
    text-align: center;
}

.tovar_slider .viewport .item .img-container img {
    max-width: 360px;
    max-height: 360px;
    vertical-align: middle;
}

.tovar_slider .buttons {
    width: auto;
    text-align: center;
}

.tovar_slider .buttons .item {
    display: inline-block;
    width: 60px;
    height: 60px;
    overflow: hidden;
    background: #6d6d6d;
    cursor: pointer;
    margin-right: 5px;
}

.tovar_slider .buttons .item .img-container{
    margin: 0 auto;
    width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
}

.tovar_slider .buttons .item .img-container img {
    max-width: 60px;
    max-height: 60px;
    vertical-align: middle;
}

.tovar_slider .buttons .item:hover{
    background: #66e3f1;
}

.tovar_slider .buttons .item.selected {
    background: #66e3f1;
}

.tovar_slider .to_left, .tovar_slider .to_right{
    width: 20px;
    height: 20px;
    background: #6d6d6d;
    cursor: pointer;
    position: absolute;
    top: 50%;
    margin-top: -10px;
}

.tovar_slider .to_left{
    left: 0;
}

.tovar_slider .to_right{
    right: 0;
}

.tovar_slider .to_left:hover, .tovar_slider .to_right:hover{
    background: #66e3f1;
}
/*---------/TOVAR SLIDER------------*/


/*---------TABS------------*/
.tabs{
    background: #fff;
}

.tabs-controls{
    background: #B9B9B9;
    overflow: hidden;
}

.tabs-controls .item{
    float: left;
    cursor: pointer;
    padding: 15px 10px;
}

.tabs-controls .item.active{
    background: #fff;
    cursor: default;
}

.tabs-list .item{
    display: none;
    padding: 10px;
}

.tabs-list .item.active{
    display: block;
}
/*---------/TABS------------*/


/*---------FORM CMS-NC------------*/
form{
    display:block;
    margin:0px;
    padding:0px;
}
form .item{
    display:block;
    margin:0px 0px 10px 0px;
    position:relative;
}
form span{
    display:inline-block;
    font-size:14px;
    font-family:Arial;
    color:#333;
    width:140px;
    vertical-align:top;
}
input,textarea{
    display:inline-block;
    font-size:14px;
    font-family:Arial;
    color:#333;
    border:1px solid #ccc;
    border-radius:4px;
    margin:0px;
    -webkit-box-shadow:inset 0 1px 1px 1px #eee;
    box-shadow:inset 0 1px 1px 1px #eee;
    background-position:right center;
    background-repeat:no-repeat;
}
input{
    padding:0px 10px;
    height:20px;
    line-height:20px;
}
input.error,
input.bad,
textarea.error,
textarea.bad,
.item.error input,
.item.bad input,
.item.error textarea,
.item.bad textarea{
    background-image:url('../img/informer_02.png');
    border-color:#cc0000;
}
input.warning,
input.warn,
textarea.warning,
textarea.warn,
.item.warning input,
.item.warn input,
.item.warning textarea,
.item.warn textarea{
    background-image:url('../img/informer_03.png');
    border-color:#cc0000;
}
input.good,
input.ok,
textarea.good,
textarea.ok,
.item.good input,
.item.ok input,
.item.good textarea,
.item.ok textarea{
    background-image:url('../img/informer_01.png');
    border-color:#00cc00;
}
textarea{
    padding:5px 10px;
    height:70px;
}
.right form input,.right form textarea{
    width:160px;
}
input.info.name{
    background:url('../img/inputname.png') 10px center no-repeat;
}
input.info.phone{
    background:url('../img/inputphone.png') 10px center no-repeat;
}
input.info.email{
    background:url('../img/inputemail.png') 10px center no-repeat;
}
textarea.info.coment{
    background:url('../img/inputcoment.png') 10px center no-repeat;
}
.informer{
    display:none;
    position:relative;
    padding:5px 10px;
    border-radius:5px;
    border:none;
    background:#FFF7BD;
}
.informer.bad,
.informer.error,
.informer.good,
.informer.ok,
.informer.warning,
.item.bad .informer,
.item.error .informer,
.item.good .informer,
.item.ok .informer,
.item.warning .informer{
    display:block !important;
}
.informer .bg{
    position:absolute;
    right:49%;
    top:-9px;
    width:11px;
    height:9px;
    background:url('../img/informerbg.png') left top no-repeat;
}
form .status_message{
    display:none;
    margin:10px 0px;
    padding:5px 10px;
    border-radius:5px;
    border:1px solid #F0F0B0;
    background:#FFF7BD;
}

input.good{
    border-color:#0F0;
}
input.bad{
    border-color:#F00;
}
input.warning{
    border-color:#FF8F00;
}
/*---------/FORM CMS-NC------------*/


/* ВСПЛЫВАЮЩЕЕ ОКНО CMS-NC */
.window {
    z-index:3;
    position:fixed;
    left:0px;
    top:0px;
    width:100%;
    display:none;
    text-align:center;
    vertical-align:middle;
}
.window .window_body{
    position:relative;
    vertical-align:middle;
    text-align:left;
    width:auto;
    height:auto;
    display:inline-block;
    background:#fff;
    border-radius:9px;
    border:1px solid #ccc;
    padding:20px 30px;
}
.window .close{
    display:none;
    cursor:pointer;
    position:absolute;
    right:-12px;
    top:-12px;

    text-align:center;

    width:25px;
    height:25px;
    line-height:23px;

    color:#fff;
    font-family:Arial;
    font-size:15px;
    font-weight:bold;

    -webkit-border-radius: 13px;
    -moz-border-radius: 13px;
    border-radius: 13px;
    -webkit-box-shadow: #aaa 0px 0px 3px;
    -moz-box-shadow: #aaa 0px 0px 3px;
    box-shadow: #aaa 0px 0px 3px;

    background: #AAA;
    background: -webkit-gradient(linear, 0 0, 0 bottom, from(#CCCCCC), to(#999999));
    background: -webkit-linear-gradient(#CCCCCC, #999999);
    background: -moz-linear-gradient(#CCCCCC, #999999);
    background: -ms-linear-gradient(#CCCCCC, #999999);
    background: -o-linear-gradient(#CCCCCC, #999999);
    background: linear-gradient(#CCCCCC, #999999);

}
.window .close.show{
    display:block;
}
.window.show {
    display:inline-block;
}
.window.show .window_body {

}
/* /ВСПЛЫВАЮЩЕЕ ОКНО CMS-NC */


/*---------FAQ------------*/
.faq-container{
    margin-top: 20px;
}

.faq .item {
    position: relative;
    margin: 0 0 20px 0;
}

.faq .item .name {
    position: absolute;
    top: 0;
    left: 0;
    color: #777;
}

.faq .item .date {
    position: absolute;
    top: 0;
    right: 0;
    color: #333;
    font-weight: bold;
}

.faq .item .answer {
    padding: 25px 0 10px 0;
}

.faq .item .answer p{
    padding: 20px 40px;
    background: #eee;
    border-radius: 6px;
}

.faq .item .question {
    padding: 20px 40px;
    margin-left: 30px;
    background: #eee;
    border-radius: 6px;
}
/*---------/FAQ------------*/


/*---------PRICE------------*/
.price{

}

.price-table{
    border-collapse: collapse;
    text-align: center;
    width: 100%;
}

.price-table tr th{
    border: 1px solid #a5a5a5;
    font-weight: bold;
}

.price-table tr td{
    border: 1px solid #a5a5a5;
}

.price-table td span{
    float: left;
    line-height: 24px;
}

.price-table td .button{
    float: right;
}
/*---------/PRICE------------*/


/*---------LIST STYLE------------*/
ul.style{
    list-style: none;
}

ul.style li{
    position: relative;
}

ul.style li:before{
    content: url('../img/list-style-image.png');
    width: 5px;
    height: 9px;
    position: absolute;
    top: 0;
    left: -13px;
}
/*---------/LIST STYLE------------*/


/*---------INPUT FILE------------*/
.input-file-container{
    margin: 13px 0 0 0;
    text-align: center;
    width: 279px;
}

.input-file-container input[type=file]{
    display:block;
    width: 0;
    height: 0;
    overflow: hidden;
}

.input-file-container .input-file-custom .span1{
    color: #006699;
    cursor: pointer;
    border-bottom: 1px dotted #006699;
}

.input-file-container .input-file-custom .file-name{
    position: relative;
    display: none;
}

.input-file-container .clear-input-file{
    cursor: pointer;
    position: absolute;
    width: 15px;
    height: 15px;
    top: 3px;
    right: -19px;
}
/*---------/ INPUT FILE------------*/


/*---------SOCIALS------------*/
.socials{

}

.socials .item{
    display: inline-block;
    width: 30px;
    height: 30px;
    background: url('../img/socials-sprite.png') no-repeat;
    margin-right: 14px;
}

.socials .item.vk{
    background-position: 0 0;
}

.socials .item.fb{
    background-position: -30px 0;
}

.socials .item.twitter{
    background-position: -60px 0;
}

.socials .item.gplus{
    background-position: -90px 0;
    margin-right: 0;
}
/*---------/SOCIALS------------*/


/*---------PAGINATION------------*/
.pagination{

}

.pagination .item{
    display: inline-block;
    text-align: center;
    padding: 4px 6px;
    margin-right: 6px;
    background: #fff;
    border: 1px solid #d1d1d1;
    text-decoration: none;
}

.pagination .item.selected{
    color: #666666;
    background: #e8e8e9;
}

.pagination .item:hover{
    color: #666666;
    background: #e8e8e9;
}
/*---------/PAGINATION------------*/


/*---------FOOTER------------*/
footer {
    position: relative;
    margin-top: -150px;
    width: 100%;
    min-width: 1000px;
    height: 150px;
    overflow: hidden;
    z-index: 99;

    background: #6d6d6d;
}

footer .content{
    background: #a7a7a7;
    height: 100%;
}

.hFooter {
    height: 150px;
}

footer .contacts {
    float: left;
}

footer .copyright {
    float: right;
    width: 195px;
    color: #fffbe5;
    text-align: right;
    line-height: 19px;
}

footer .masterweb {
    margin-top: 12px;
}
/*---------/FOOTER------------*/


/*---------OTHER STYLES------------*/
/*Кнопка Наверх*/
.toTop {
    width:100px;
    padding: 5px;
    background:#f7f7f7;
    text-align:center;
    position:fixed;
    top:50px;
    left:10px;
    cursor:pointer;
    display:none;
}

/*Кнопка Свернуть-развернуть*/
.see-all{
    display: inline-block;
    cursor: pointer;
}

/* Для кастомного скролла*/
.content-with-scroll {
    position: relative;
    width: 300px;
    max-height: 200px;
    overflow: auto;
    background-color: #fff;
}

/* Формы. валидация*/
.validation-container {
    position: relative;
}
.validation-container .marker {
    position: absolute;
    top: 13px;
    left: -13px;
    color: #F45B28;
}
.validation-container .validation-informer {
    display: none;
    color: #F45B28;
    margin: 1px 0 7px 0;
    text-align: left;
}
/*---------/OTHER STYLES------------*/